body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    font-family: "Roboto", sans-serif;
    background-color: white;
    margin: 0;
    height: 95vh;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45vh;
    width: 60vh;
    background-color: white;
    box-shadow: 0px 1px 15px 10px rgba(0, 0, 0, 0.2);
}

.label-input {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 28vw;
}

.labels {
    display: flex;
    flex-direction: column;
    width: 11vw;
}
.inputs {
    width: 16vw;
}
.inputs > input {
    width: 14vw;
}

.labels > label {
    margin-bottom: 2vh;
}
.inputs > input {
    margin-bottom: 2vh;
}

.btn-div {
    border: 1px solid green;
    margin-top: 5vh;
}
